<html>
<head>
    <meta charset="utf-8">
    <style>
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Thin.ttf") format("truetype");
          font-weight: 100;
          font-style: normal;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
          font-weight: 100;
          font-style: italic;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Light.ttf") format("truetype");
          font-weight: 300;
          font-style: normal;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
          font-weight: 300;
          font-style: italic;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Regular.ttf") format("truetype");
          font-weight: normal;
          font-style: normal;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Italic.ttf") format("truetype");
          font-weight: normal;
          font-style: italic;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Bold.ttf") format("truetype");
          font-weight: bold;
          font-style: normal;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
          font-weight: bold;
          font-style: italic;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-Black.ttf") format("truetype");
          font-weight: 900;
          font-style: normal;
        }
        
        @font-face {
          font-family: "Lato";
          src: url("../static/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
          font-weight: 900;
          font-style: italic;
        }
        
        :root {
            --red: #f00;
            --light-red: #dc3545;
            --white: #fff;
            --gray: #6c757d;
            --gray-dark: #343a40;
            --black: #000;
        }
        
        body {
            background: #eee;
            font-family: 'Lato', sans-serif;
            margin: 0;
        }
        
        .calendar-container {
            background: #fff;
            display: flex;
            flex-direction: column;
            height: {{ height }}px;
            margin: 0 auto;
            position: relative;
            width: {{ width }}px;
        }

        .header {
            display: flex;
        }
        
        .today-header {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 400px;
        }

        .today-label {
            display: flex;
            flex-direction: row;
            margin-left: 6px;
        }
        
        .today-header .today-day-number {
            font-weight: 900;
            font-size: 4rem;
            line-height: 3rem;
        }
        
        .today-header .month {
            font-size: 2rem;
            margin-left: 5px;
            padding-top: 16px;
        }

        .preview-months-container {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: 40px;
            padding: 15px;
        }

        .preview-month {
            display: flex;
            flex-direction: row;
            height: 100%;
            margin-left: 40px;
            width: 300px;
        }

        .preview-month .month-name {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            margin-bottom: 6px;
            margin-right: 5px;
        }

        .preview-month .month-days-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 160px;
        }

        .preview-month .month-day {
            color: var(--gray);
            display: flex;
            flex: 1 1 36px;
            flex-direction: column;
            height: 28px;
            justify-content: center;
            text-align: center;
        }

        .preview-month .month-day.current-month-day {
            color: var(--black);
        }

        .preview-month .month-day.today {
            color: var(--white);
            background: radial-gradient(circle at center, var(--red) 13px, var(--white) 13px);
            font-weight: 700;
        }

        .preview-month .day-name {
            font-size: 0.9rem;
        }
        
        .battery {
            position: absolute;
            right: 16px;
            top: 15px;
        }

        .battery img {
            width: 30px;
        }

        .no-wifi {
            position: absolute;
            right: 20px;
            top: 18px;
        }

        .no-wifi.bellow-battery {
            top: 48px;
        }

        .no-wifi img {
            width: 24px;
        }
        
        .days-container {
            display: flex;
            flex-wrap: wrap;
            width: {{ width - 40 }}px;
            margin: 20px 20px 0 20px;
        }
        
        .day {
            display: flex;
            flex: 1 1 {{ (width - 40 - 60) / 7 - 20 }}px;
            flex-direction: column;
            padding: 10px;
            text-align: center;
        }

        .day:nth-child(n+7) {
            background: linear-gradient(90deg, #fff 99%, #000 100%);
        }

        .day:nth-child(7n) {
            background: none;
        }
        
        .day:nth-child(7n+1) {
            margin-left: 0;
        }
        
        .day .day-name {
            color: var(--gray);
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0 auto;
        }
        
        .day .day-number {
            font-size: 1.3rem;
            font-weight: 500;
            height: 42px;
            line-height: 40px;
            margin: 0 auto;
            text-align: center;
            width: 52px;
        }

        .day.detailed-week-day .day-number {
            font-size: 2rem;
            height: 52px;
            line-height: 50px;
        }
        
        .day.past-day .day-number {
            color: var(--gray);
            font-weight: 500;
        }
        
        .day.today .day-number {
            color: var(--white);
            background: radial-gradient(circle at center, var(--red) 25px, var(--white) 26px);
            font-weight: 700;
        }
        
        .event {
            height: 24px;
            max-width: 100%;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: {{ (width - 40 - 60) / 7 - 20 }}px;
        }

        .event.important {
            color: var(--red);
        }

        .day.past-day .event.important {
            color: var(--gray);
        }

        .day-events {
            min-height: {{ max_events_per_day * 24 }}px;
        }
        
        .event-hour {
            color: var(--black);
            font-weight: 900;
        }

        .event-more {
            font-weight: 900;
        }
        
        .day.past-day .event-hour,
        .day.past-day .event-summary {
            color: var(--gray);
        }

        .event.important .event-summary {
            color: var(--red);
        }

        .day.past-day .event.important .event-summary {
            color: var(--gray);
        }

        .detailed-week-day .event {
            height: 28px;
            font-size: 1.2rem;
        }

        .weather-forecast {
            display: flex;
            flex-direction: row;
            margin-top: auto;
            margin-bottom: 0;
        }

        .weather-container {
            display: flex;
            flex: 1 1 25%;
            flex-direction: column;
        }

        .weather-image {
            align-items: center;
            display: flex;
            height: 48px;
            justify-content: center;
            margin: auto;
            width: 48px;
            text-align: center;
        }

        .weather-image img {
            height: 48px;
            width: 48px;
        }

        .weather-hour {
            color: var(--gray);
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
        }

        .weather-hour-temperature {
            font-size: 1.25rem;
            font-weight: 700;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="calendar-container">
        <div class="header">
            <div class="today-header">
                <div class="today-label">
                    <div class="today-day-number">{{ today_day_number }}</div>
                    <div class="month">{{ i18n.header_months[month_number-1] }}</div>
                </div>
                {% if weather_forecast %}
                    <div class="weather-forecast">
                        {% for hour in weather_forecast.hours %}
                            <div class="weather-container">
                                <div class="weather-image">
                                    <img src="../static/images/weather/{{ hour.icon }}" />
                                </div>
                                <div class="weather-hour">{{ hour.hour }}</div>
                                <div class="weather-hour-temperature">{{ hour.temperature }}°C</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="preview-months-container">
                {% for month in preview_months %}
                    <div class="preview-month">
                        <div class="month-name">
                            {{ i18n.preview_months[month.number - 1] }}&nbsp;{{ month.year }}
                        </div>
                        <div class="month-days-container">
                            {% for day in i18n.week_days %}
                                <div class="month-day day-name">
                                    {{ day }}
                                </div>
                            {% endfor %}
                            {% for day in month.days %}
                                <div class="month-day {% if day.is_current_month %}current-month-day{% endif %} {% if day.is_today %}today{% endif %}">{{ day.number }}</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if battery_icon %}
            <div class="battery">
                <img src="../static/images/battery-{{ battery_icon }}.svg" fill="dark-grey" />
            </div>
        {% endif %}
        {% if no_wifi %}
            <div class="no-wifi {% if battery_icon %}bellow-battery{% endif %}">
                <img src="../static/images/no-wifi.svg" fill="red" />
            </div>
        {% endif %}
        <div class="days-container">
            {% for day in i18n.week_days %}
                <div class="day">
                    <div class="day-name">
                        {{ day }}
                    </div>
                </div>
            {% endfor %}
            {% for date, day in calendar.days.items() %}
                {% set week = (((loop.index - 1) / 7)|int) + 1 %}
                {% set more_events = day.events|length - max_events_per_day %}
                {% set is_detailed_week = week <= detailed_weeks %}
                {% if week <= number_of_weeks %}
                    <div class="day {% if day.datetime < today %}past-day{% endif %} {% if day.datetime == today %}today{% endif %} {% if is_detailed_week %}detailed-week-day{% endif %}">
                        <div class="day-number">
                            {{ day.number }}
                        </div>
                        <div class="day-events">
                            {% if not is_detailed_week and more_events > 0 %}
                                {% set events = day.events[0:max_events_per_day-1] %}
                            {% else %}
                                {% set events = day.events %}
                            {% endif %}
                            {% for event in events %}
                                <div class="event {% if event.important %}important{% endif %}">
                                    {% if not event.all_day %}<span class="event-hour">{{ event.start_time }}</span>{% endif %}
                                    <span class="event-summary">{{ event.summary }}</span>
                                </div>
                            {% endfor %}
                            {% if not is_detailed_week and more_events > 0 %}
                                <div class="event">
                                    ...<span class="event-more">+{{ more_events + 1 }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
